<div field="id:id" template="app">
  <div id="wrap">
    <!-- Fixed navbar -->

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="collapse navbar-collapse">
          <div id="auth-status-container">
          </div>
          <img src="img/mishmash-logo.png" class="brand" width="118" height="90">
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Begin page content -->
    <div class="container">
      <!-- header info -->
      <div class="page-header">
        <h1>Stick your data somewhere.</h1>
        <p class="lead">Finally, a home for all those great stats you want to remember. MishMash allows you to store, tag, and search for datapoints of your own, and search through all of the data added by other MishMash users.
        <br>Start by entering a stat on the left, or search through existing stats on the right.</p>
      </div>
      <!-- /header info-->

      <!-- input and output -->
      <div class="row">
        <div class="col-md-6 left-side">
          <h3>Input</h3>
          <form role="form" id="fact-form">

            <div class="form-group">
              <label for="fact">Fact</label>
              <textarea required type="text" class="form-control" rows="4" id="fact" placeholder="92% of honey badgers secretly want to be three-toed sloths."></textarea>
            </div>

            <div class="form-group">
              <label for="keywords">Keywords (comma separated)</label>
              <input required type="text" class="form-control" id="keywords" placeholder="honey badgers, sloths, animals">
            </div>

            <div class="form-group">
              <label for="source">Source</label>
              <input required type="text" class="form-control" id="source" placeholder="Badger Quarterly">
            </div>

            <div class="form-group">
              <label for="sourceUrl">Source URL</label>
              <input required type="url" class="form-control" id="source-url" placeholder="www.badgerqtly.com/march/report/">
            </div>

            <div class="form-group">
              <label for="date">Date</label>
              <input required type="date" class="form-control" id="date">
            </div>

            <div class="text-right">
                <input name="add-fact"
                       style="display:none;"
                       type="submit"
                       value="Add fact"
                       class="btn btn-primary add-fact-button"
                       field="style:add-fact-style" />
            </div>
          </form>

        </div>

        <!-- Output row -->
      <div id="fact-list">
        <!-- /output row -->
      </div>

      <!-- /input and output -->
    </div>
  </div>
</div>