<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>mishmash</title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    <!-- Le styles -->
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="bootstrap.css" rel="stylesheet">
    <link href="pedestal.css" rel="stylesheet">
    <link href="mishmash.css" rel="stylesheet">

    <!-- Add xpath support to IE. Domina needs this -->
    <!--[if IE]>
        <script type="text/javascript" src="xpath.js"></script>
        <![endif]-->

  </head>

  <body>

    <div class="container-fluid">

      <div id="other">

        <div class="row-fluid">

          <div class="span5">

            <div>
              <form class="form-horizontal" id="fact-form">
                <fieldset>

                <!-- Form Name -->
                <legend>Add a Fact</legend>

                <!-- Textarea -->
                <div class="control-group">
                  <label class="control-label" for="fact">Fact</label>
                  <div class="controls">
                    <textarea id="fact" class="input-xlarge" name="fact" placeholder=""></textarea>
                  </div>
                </div>

                <!-- Text input-->
                <div class="control-group">
                  <label class="control-label" for="keywords">Keywords</label>
                  <div class="controls">
                    <input id="keywords" name="keywords" type="text" placeholder="marketing, tv, sports" class="input-xlarge" required="">
                    <p class="help-block">Comma separated</p>
                  </div>
                </div>

                <!-- Text input-->
                <div class="control-group">
                  <label class="control-label" for="source">Source</label>
                  <div class="controls">
                    <input id="source" name="source" type="text" placeholder="Australian Bureau of Statistics" class="input-xlarge">

                  </div>
                </div>

                <!-- Text input-->
                <div class="control-group">
                  <label class="control-label" for="source-url">Source URL</label>
                  <div class="controls">
                    <input id="source-url" name="source-url" type="text" placeholder="http://abs.gov.au/facts" class="input-xlarge">

                  </div>
                </div>

                <!-- Text input-->
                <div class="control-group">
                  <label class="control-label" for="date">Date</label>
                  <div class="controls">
                    <input id="date" name="date" type="date" class="input-xlarge">

                  </div>
                </div>

                <!-- Button -->
                <div class="control-group">
                  <label class="control-label" for="add-fact"></label>
                  <div class="controls">
                    <button id="add-fact" name="add-fact" class="btn btn-primary">Add fact</button>
                  </div>
                </div>

                </fieldset>
                </form>

            </div>


          </div>



          <div id="content" class="span7">
          </div>

        </div>
      </div>



      <div id="options"></div>

      <footer></footer>

    </div> <!-- /container -->

    <script id="script-driver"></script>

  </body>
</html>
