<table class="data table table-bordered" field="id:id" template="fact-list">

  <thead>
    <tr>
      <th>Fact</th>
      <th>Keywords</th>
      <th>Author</th>
      <th>Source</th>
      <th>Source URL</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <tr template="fact" field="id:id">
      <td field="content:text">This is a cool app</td>
      <td field="content:keywords">meta, mishmash</td>
      <td field="content:screen-name">atroche</td>
      <td field="content:source">Google</td>
      <td field="content:source-url">http://google.com</td>
      <td field="content:date">http://google.com</td>
    </tr>
  </tbody>

</table>